
        <div class="col">
          <div class="card h-100 my-4">


          <div class="card-header d-flex justify-content-between">

            <h3 class="card-title"><%= task.name %></h3>
            <p class="card-text"><%= (task.deadline - Date.today).to_i %>d</p>
          </div>

          <div class="card-body">
            <p class="card-text"><%= task.description %></p>
          </div>

          <div class="card-footer">
            <p class="card-text"><%= render 'tasks/progress-bar', task: task %></p>
            <div class="d-flex justify-content-center">
              <%= link_to task do %>
                <i class="fa-solid fa-caret-down"></i>
              <% end %>
            </div>
          </div>

          </div>
        </div>
