<%= render 'shared/sidebar' %>
<div class="main">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-sm-6 ">
         <h1>PLACEHOLDER TEAM</h1>
          <%= simple_form_for @team do |f| %>
            <%= f.input :name, placeholder: 'Novo Projeto X' %>
            <%= f.input :team_members, placeholder: 'team member Yuhri' %>
            <%= f.button :submit, class: 'btn btn-outline-secondary' %>
          <% end %>
          <hr>
          <%= button_to "add a member to team", @team, class: 'button-dark-purple' %>

          <hr>

          <%= button_to "Delete this team", @team, class: 'button-dark-purple', method: :delete if policy(@team).destroy? %>
      </div>
    </div>
  </div>
</div>
