<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="d-flex justify-content-between">
        <h2>My Teams</h2>
        <%= link_to 'New Team', new_team_path, class: 'btn btn-primary' %>
      </div>
      <hr />
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @teams.each do |team| %>
        <% if team.user_ids.include?(@user.id) %>
          <div class="col">
            <div class="card h-100">
              <div class="card-header d-flex justify-content-center">
                <h3><%= team.name %></h3>
              </div>
              <div class="card-body">
                <% team.users.each do |user| %>
                  <% if user.avatar.key == nil %>
                    <img
                      class="avatar tile"
                      alt="avatar"
                      src="/app/assets/images/default_avatar.jpg "
                    />
                  <% else %>
                    <img
                      class="avatar tile"
                      alt="avatar"
                      src="<%= cl_image_path user.avatar.key%>"
                    />
                  <% end %>
                <% end %>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <%= link_to team , class: 'hover' do %>
                <i class="fa-solid fa-angles-right"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
