<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8 col-sm-6 ">

         <h1>New Project</h1>
         <%= simple_form_for @team do |f| %>
          <%= f.input :name, placeholder: 'Novo Projeto X' %>
          <%= f.button :submit, class: 'btn btn-outline-secondary' %>
         <% end %>

      </div>
    </div>
  </div>
</div>
