<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8 col-sm-6 ">
        <div class="card-team">
         <h2><%= @team.name %></h2>
         Members:
          <ol>
          <% @team.users.each do |member| %>
            <li><%= member.first_name %> </li>
          <% end %>
          </ol>




<%# raise %>
          <%= link_to "Edit this team", edit_team_path(@team), class: 'button-dark-purple' %>

         <%= link_to 'New task', new_team_task_path(@team), class: 'button-dark-purple' %>

         <%= link_to 'Add member', new_team_team_member_path(@team), class: 'button-dark-purple' %>
        </div>
        <hr>
        <h2>Tasks</h2>

         <div class="cards">
              <% @team.tasks.each do |task| %>
                <div class="card-tasks">
                  <div class="card-tasks-infos">
                    <h2><%= task.name %></h2>
                    <p><%= task.description %></p>
                    <p><%= task.deadline %></p>
                    <p>Assigned to: <%= task.member.first_name %></p>
                  </div>
                </div>
              <% end %>

            </div>


      </div>
        <%# raise %>
      </div>
    </div>
  </div>
</div>
