<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8 col-sm-6 ">
        <div class="card-team">
          <div class="row">
            <div class="col">
              <h1><%= @team.name %></h1>
            </div>
          <div class="col">
            <h2>
              Members:
                <ol>
                  <% @team.users.each do |member| %>
                    <li><%= member.first_name %> </li>
                  <% end %>
                </ol>
            </h3>
          </div>
        <div class="d-grid gap-2 col-4 mx-auto">
            <%= link_to "Edit this team", edit_team_path(@team), class: 'btn-dark-purple' %>
            <%= link_to 'New task', new_team_task_path(@team), class: 'btn-dark-purple' %>
            <%= link_to 'Add member', new_team_team_member_path(@team), class: 'btn-dark-purple' %>
        </div>
      <hr>
    <h3>Tasks:</h3>
      <div class="row">
        <div class="cards">
          <% @team.tasks.each do |task| %>
          <% if task.completed == false %>
            <div class="card-tasks">
              <div class="col">
                <div class="card-tasks-infos">
                  <h2><%= task.name %></h2>
                  <p><%= task.description %></p>
                  <p><%= task.deadline %></p>
                  <p>Assigned to: <%= task.member.first_name %></p>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
