<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="d-flex justify-content-between align-content-center">
        <h2><%= @team.name %></h2>
        <div class="links align-content-center">
          <%= link_to "Edit this team", edit_team_path(@team), class:
          'btn-dark-purple' %>
          <%= link_to 'Add member',
          new_team_team_member_path(@team), class: 'btn-dark-purple' %>
        </div>
      </div>
      <hr />
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @team.users.each do |member| %>
      <div class="col">
        <div class="card h-100">
          <%= render 'teams/card', member: member %>
          <div class="card-footer d-flex justify-content-center">
            <%= link_to new_team_task_path(@team) do %>
            <i class="fa-solid fa-plus"></i> New Task <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <hr>

  <div>
    <h1>Not Started:</h1>
      <% @team.tasks.each do |task| %>
        <% if task.completed == false && task.started == false %>
          <%= render 'teams/notstarted', task: task %>
        <% end %>
      <% end %>

    <hr>

    <h1>In Progress:</h1>
      <% @team.tasks.each do |task| %>
        <% if task.started == true && task.completed == false %>
          <%= render 'teams/inprogress', task: task %>
        <% end %>
      <% end %>

    <hr>

    <h1>Completed:</h1>
      <% @team.tasks.each do |task| %>
        <% if task.started == true && task.completed == true %>
          <%= render 'teams/completed', task: task %>
        <% end %>
      <% end %>
  </div>

  </div>
</div>
