
              <% tasks.each do |task| %>
              <% if (task.member_id == current_user.id || task.manager_id == current_user.id) && task.completed == false %>

                <div class="card-tasks">
                  <div class="card-tasks-infos">
                    <h2><%= task.name %></h2>
                    <p> <small> <%= task.team.name %> </small> </p>
                    <p><%= task.description %></p>
                    <p><%= task.deadline %></p>
                    <p><%= task.completed %></p>
                 <%= link_to "details", task, class: 'btn-dark-purple' %>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="progress">
                      <div class="progress-bar bg-primary " role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              <% end %>

              <% end %>
