
              <% tasks.each do |task| %>
                <% if (task.member_id == current_user.id || task.manager_id == current_user.id) && task.completed == false %>

                <div class="card-tasks">
                  <div class="card-tasks-infos">

                    <h2>Team:<%= task.name %></h2>
                    <p>Task: <small> <%= task.team.name %> </small> </p>
                    <p>Description:<%= task.description %></p>
                    <p>Deadline:<%= task.deadline %></p>
                    &nbsp;&nbsp;&nbsp;
                  <%= link_to "details", task, class: 'btn-dark-purple' %>


                      <%= render 'tasks/progress-bar', task: task %>

                      <% end %>
                    </div>

                    </div>
<% end %>
                  </div>
