      <% tasks.each do |task| %>
        <% if (task.member_id == current_user.id || task.manager_id == current_user.id) && task.completed == false %>
        <div class="col">
          <div class="card h-100">


          <div class="card-header d-flex justify-content-between">

            <h3 class="card-title"><%= task.team.name %></h3>
            <p class="card-text"><%= (task.deadline - Date.today).to_i %>d</p>
          </div>

          <div class="card-body">
            <p class="card-text">
            <strong><%= task.name %> : </strong>
            <%= task.description %></p>
          </div>

          <div class="card-footer">
            <p class="card-text"><%= render 'tasks/progress-bar', task: task %></p>
            <div class="d-flex justify-content-center">
              <%= link_to task do %>
                <i class="fa-solid fa-caret-down"></i>
              <% end %>
            </div>
          </div>

          </div>
        </div>
        <% end %>
      <% end %>
