<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>
<div class="main">
  <div class="container mt-5">
    <div class="row ">
      <div class="col-12 col-md-8 col-sm-6 form-new">
      <h2>Editing task</h2>

      <%# MUITO PROVAVELMENTE TERA QUE EDITAR APOS TERMIANR A CONCLUSAO DE TEAM %>
      <%= simple_form_for [@team, @task] do |f| %>
      <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :deadline , as: :string,
                                wrapper_html: { class: "mb-4" },
                                label_html: { class: "form-label text-secondary fw-bold" },
                                input_html: { data: { controller: "flatpickr" } } %>
        <%= f.input :member_id, collection: @team_members, label_method: :user_name, value_method: :user_id %>
        "task completed?"
        <%= f.check_box :completed %>
        <hr>
        <%= f.button :submit , class: 'btn btn-outline' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
