

<div class="login-container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="form-login">
        <%= simple_form_for (@user) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :nickname %>
        <%= f.button :submit, "Update", class: 'btn btn-outline' %>
        <% end %>
        <%= link_to "Back to Profile", dashboard_path %>
      </div>
    </div>
  </div>
</div>
