<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm bg-transparent navbar-lewagon">
    <div class="container justify-content-beetwen">
    <div class="">
      <%= Time.now.strftime("%B %d, %Y") %>
      <h4>Welcome back, <%= current_user.first_name.capitalize %>!</h4>
    </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item px-3">
            <form class="form-inline ">
              <input class="form-control rounded-4" type="search" placeholder="Search" aria-label="Search">
            </form>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end rounded-5" aria-labelledby="navbarDropdown">
              <div class="card" style="width: 17rem;">
                <%# <img src="..." class="card-img-top" alt="..."> %>
                <div class="card-img d-flex justify-content-center">
                  <img class="avatar-large" alt="avatar-large" style="width: 10rem;" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h5>
                  <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
                </div>
                <div class="card-body">
                  <%= link_to dashboard_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-bell"></i> Notifications
                  <% end %>
                  <%= link_to dashboard_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-message"></i> Messages
                  <% end %>
                  <%= link_to edit_user_path(current_user), class: "dropdown-item" do %>
                    <i class="fa-solid fa-gear"></i> Settings
                  <% end %>

                  <%= link_to destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} do %>
                    <i class="fa-solid fa-right-from-bracket"></i> Log out
                  <% end %>

                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% else %>
  <div class="navbar navbar-expand-sm bg-transparent navbar-lewagon">
    <div class="container justify-content-beetwen">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link btn btn-primary rounded-5" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
