<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8 col-sm-6 ">

        <div class ='d-flex align-items-center'>
          <%= link_to 'Calendar', calendar_path, class:'btn btn-primary ' %>
          <%= link_to 'New Meeting', new_event_path, class:'btn btn-primary mx-5' %>
        </div>

        <hr>

      <%# <div class="cards"> %>

      <% @events.each do |event| %>
        <div class="col-lg-6">
          <div class="cards shadow mb-5">
            <div class="card-body">
              <h3><%= event.title %></h3>
              <p><span class="font-weight-bold">Start Time: </span><%= event.start_date %></p>
              <p><span class="font-weight-bold">End Time: </span><%= event.end_date %></p>

              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Show', event, class: 'dropdown-item' %></li>
                  <li><%= link_to 'Edit', edit_event_path(event), class: 'dropdown-item' %></li>
                  <li><%= link_to 'Destroy', event, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'dropdown-item'  %></li>
                  <li><%= link_to 'Sync With Google', sync_event_with_google_event_path(event), data: { turbo_method: :patch }, class: 'dropdown-item' %></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="modal fade" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="guestModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="guestModalLabel">Guest List</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="showGuestDetails">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
