<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <%= link_to calendar_path, class: 'align-link-bottom' do %>
          <i class="fa-solid fa-calendar"></i> Calendar
        <% end %>
        <%= link_to new_event_path, class: 'align-link-bottom' do %>
          <i class="fa-solid fa-plus"></i> New Meeting
        <% end %>
      </div>
      <hr />
    </div>






































      <% @events.each do |event| %>
        <div >
          <div class="cards shadow mb-3 rounded-4 p-2" style="background-color: #4D4C7C;">
          <h3><%= event.title %></h3>
            <div class="card-trips" >

            <p>From:
                  <%= event.start_date.localtime.strftime("%m/%d/%Y at %I:%M%p") %>
                  to
                  <%= event.end_date.localtime.strftime("%m/%d/%Y at %I:%M%p") %>
                </p>
                <hr>
            <p><%= event.description %></p>
            <br/>

              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Show', event, class: 'dropdown-item' %></li>
                  <li><%= link_to 'Edit', edit_event_path(event), class: 'dropdown-item' %></li>
                  <li><%= link_to 'Destroy', event, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'dropdown-item'  %></li>
                  <li><%= link_to 'Sync With Google', sync_event_with_google_event_path(event), data: { turbo_method: :patch }, class: 'dropdown-item' %></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>
