<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8 col-sm-6 ">

          <h2>
            <%= @event.title %>
            <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary' %>
            <%= link_to 'Back', events_path, class: 'btn btn-primary' %>
          </h2>

        <hr>

          <div class="cards">
            <div class="card-tasks">
              <div class="card-tasks-info p-1">

                <h2><%= @event.description %></h2>

                <hr>

                <p>From:
                  <%= @event.start_date.strftime("%m/%d/%Y at %I:%M%p") %>
                  to
                  <%= @event.end_date.strftime("%m/%d/%Y at %I:%M%p") %>
                </p>

              </div>
            </div>
          </div>
      </div>

          <div class="col-md-5">
            <h3>Participants:</h3>
              <ul class="list-group">
                <% @event.email_guest_list.each do |guest| %>
                  <li class="list-group-item">
                    <div class="media">
                      <%= image_tag 'dummy-user.png', class: 'mr-3 guest-icon' %>
                        <div class="media-body">
                          <h5 class="mt-0"><%= guest %></h5>
                        </div>
                    </div>
                  </li>
                <% end %>
              </ul>
          </div>
    </div>
  </div>
</div>
